{
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
  },
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }]
  }
}
